<footer class="bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <!-- Redes Sociales -->
            <div class="col-md-6 text-center text-md-start">
                <h4>Síguenos</h4>
                <p>Conéctate con nosotros a través de nuestras redes sociales:</p>
                <div>
                    <a href="https://www.facebook.com/" class="text-white me-3"><i
                            class="bi bi-facebook fs-3"></i></a>
                    <a href="https://x.com/" class="text-white me-3"><i class="bi bi-twitter fs-3"></i></a>
                    <a href="https://www.instagram.com/" class="text-white me-3"><i
                            class="bi bi-instagram fs-3"></i></a>
                </div>
            </div>
        </div>

        <hr class="border-secondary my-4">

        <div class="text-center">
            <p class="mb-0">&copy; 2024 Hop & Discover. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
