
.banner {
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
}

.mosaico-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.mosaico-items {
    display: flex;
    width: max-content; 
    animation: mosaico-mover 30s linear infinite;
}

.mosaico-item {
    flex: 0 0 auto;
    width: 300px;
    margin: 0 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
}

.mosaico-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.mosaico-item:hover img {
    transform: scale(1.05);
}


@keyframes mosaico-mover {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {
    .mosaico-item {
        width: 250px;
    }
}

@media (max-width: 576px) {
    .mosaico-item {
        width: 200px;
    }
}

.destino .card-img-top {
    transition: transform 0.3s ease;
}

.destino .card-img-top:hover {
    transform: scale(1.05);
}
