/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.logo {
    width: 60px;
}

/* Banner */
.banner {
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
}
